**1.Group data by a single column.**

In [13]:
import pandas as pd

# Sample dataset creation
data = {
    'department': ['Sales', 'Sales', 'Sales', 'HR', 'HR', 'HR', 'IT', 'IT', 'IT'],
    'employee': ['John', 'Anna', 'Peter', 'Linda', 'James', 'David', 'Sophia', 'Michael', 'Emma'],
    'salary': [70000, 80000, 60000, 90000, 85000, 75000, 120000, 110000, 105000],
    'years_experience': [5, 6, 4, 7, 8, 5, 10, 9, 11]
}

df = pd.DataFrame(data)
print(df)
grouped = df.groupby('department')
print(grouped)

  department employee  salary  years_experience
0      Sales     John   70000                 5
1      Sales     Anna   80000                 6
2      Sales    Peter   60000                 4
3         HR    Linda   90000                 7
4         HR    James   85000                 8
5         HR    David   75000                 5
6         IT   Sophia  120000                10
7         IT  Michael  110000                 9
8         IT     Emma  105000                11
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7c183238b580>

**2. Group data by multiple columns.**

In [14]:
grouped = df.groupby(['department', 'employee'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7c1832389e70>

**3. Aggregate data with sum.**

In [15]:
sum_df = df.groupby('department').sum()
print(sum_df)

                     employee  salary  years_experience
department
HR            LindaJamesDavid  250000                20
IT          SophiaMichaelEmma  335000                30
Sales           JohnAnnaPeter  210000                15

**4. Aggregate data with mean.**

In [ ]:
mean_df = df.groupby('department').mean()
print(mean_df)

**5. Aggregate data with multiple functions.**

In [ ]:
agg_df = df.groupby('department').agg(['sum', 'mean'])
print(agg_df)

**6. Transform grouped data.**

In [ ]:
transformed = df.groupby('department').transform(lambda x: x - x.mean())
print(transformed)

**7. Filter groups based on a condition.**

In [19]:
filtered = df.groupby('department').filter(lambda x: x['salary'].mean() > 80000)
print(filtered)

  department employee  salary  years_experience
3         HR    Linda   90000                 7
4         HR    James   85000                 8
5         HR    David   75000                 5
6         IT   Sophia  120000                10
7         IT  Michael  110000                 9
8         IT     Emma  105000                11

**8. Apply a custom aggregation function.**

In [ ]:
custom_agg = df.groupby('department').agg(lambda x: x.max() - x.min())
print(custom_agg)

**9. Get the size of each group.**

In [22]:
size = df.groupby('department').size()
print(size)

department
HR       3
IT       3
Sales    3
dtype: int64

**10. Use .agg() with a dictionary of functions.**

In [21]:
agg_dict = df.groupby('department').agg({
    'salary': 'sum',
    'years_experience': 'mean'
})
print(agg_dict)

            salary  years_experience
department
HR          250000          6.666667
IT          335000         10.000000
Sales       210000          5.000000